.holdingList{
    flex:0.7;
}

.holdingList__header{
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.holdingList__headerLeft{
    display: flex;
    align-items: center;
}

.holdingList__headerLeft>h2{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    color:#444444;
}

.holdingList__headerLeft > select{
    padding: 8px 8px;
    color:#444444;
    font-size: 10px;
    text-align: center;
    border: 2px solid whitesmoke;
    outline: none;
}

.holdingList__headerRight{
    display: flex;
    align-items: center;
}

.holdingList__rightSearch{
    display: flex;
    align-items: center;
    border: 2px solid whitesmoke;
    
}



.holdingList__rightSearch > input{
    padding: 8px 0px;
    color:#444444;
    font-size: 10px;
    outline: none;
    border: none;
    text-align: center;
    width: 60px;
}

.holdingList__rightButton{
    display: flex;
    align-items: center;
    font-size: 8px;
    font-weight: 300;
    margin-left: 10px;
    color: #4184F3;
}

.holdingList__rightButton > .MuiSvgIcon-root{
    font-size: 9px !important;
    margin-right: 3px;
}

.holdingList__rightButton > p{
    font-size: 8px;
}

.holdingList__rightButton:hover{
    color: #FF5722;
    background-color: #fff;
}