.login{
    background-color: #f9f9f9;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__container{
    display: flex;
    width:300px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: #fff;
    height: max-content;
    padding: 30px;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #eee;
}

.login__container > img{
    object-fit: contain;
    height:80px;
}

.login__container > h3{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.login__credentials{
    display: flex;
    flex-direction: column;
    flex:1;
    margin-top: 20px;
}

.login__credentials > label{
    margin-bottom: -7px;
    z-index:1;
    background-color: #fff;
    width:fit-content;
    margin-left: 15px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
}

.login__credentials > input{
    padding: 12px 15px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px whitesmoke solid;
    border-radius: 5px;
    font-family:sans-serif;
    outline: none;
}

.login__container > button{
    border: none;
    background-color: #FF5722;
    color:#fff;
    padding: 10px 0px;
    border-radius: 5px;
    font-size: 14px;
    transition: ease-in-out 0.2s;
    margin-bottom: 15px;
    cursor: pointer;
}

.login__container > button:hover{
    opacity:0.85;
}

.login__container > p{
    font-size: 12px;
    text-align: center;
    color: #9b9b9b;
}

.login > p{
    color:#9b9b9b;
    margin-top: 20px;
    cursor: pointer;
}

.login > p:hover{
    color:black;
}